p{
  font-family: Roboto, Arial;
}
.principal{
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
  position: relative;

}
@media(max-width:500px){
  .principal{
    grid-template-columns: 1fr  ;
  }
}

@media(min-width:501px) and (max-width:800px){
  .principal{
    grid-template-columns: 1fr 1fr ;
  }
}

@media(min-width:1000px){
  .principal{
    grid-template-columns: 1fr 1fr 1fr 1fr ;
  }

}
.previa{
  margin-top: 30px;
  width: 300px;
  vertical-align: top;
  margin-right: 15px;
}
.miniatura{
  width: 300px;
  height: 200px;
  display: block;
}
.avatar{
  width:43px;
  border-radius: 80px;
  margin-top:10px;
}
.perfil{
  display: inline-block;
  width: 50px;
  vertical-align: top;
  margin-top:-1px;
}
.informacoes{
  display: inline-block;
  width: 200px;
  border-width: 2px;
  line-height: 0px;
}
.titulo{
  height: 30px;
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
  font-weight: 500;
}


